body{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    color: antiquewhite;
    text-align: center;
    background-image:url(https://tse4.mm.bing.net/th?id=OIP.8jX0oZ5JWF8zlG4MnqBDKgHaEo&pid=Api&P=0&h=180);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120vh;

}
h1{
    font-size: 45px;
    color: white;

}
input{
    width: 75px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    background-color:bisque;
    color: black;
    border-style: double;
}
btn:hover{
    background-color: blueviolet;
    cursor: pointer;
}